body{
    background-color: #172C51;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}
header{
    background-color: #f8cb44;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link   {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo{
    width: 80px;
}

nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #172C51;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover{
        background-color: #172C51;
        color: white;
}  



#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img{
        width: 100%;
}   


.home-title{
    background-color: #f8cb44;
    color: #172C51;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
}  

main p {
    color: #f8cb44;
    padding: 35px;
    text-align: center;
}

main h2 {
    color: #f8cb44;
    padding: 35px;
    text-align: center;
}

main section {
    text-align: center;
    
}
main section img {
    box-sizing: border-box;
}

/* .home-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
} */

#background {
    height: 70px;
    background-color: #172C51;
    grid-column: 1/11;
    grid-row: 4/9;
}



/* STUFF I'VE ADDED (NB) */

.bolly {
    display: grid;
    grid-template-columns: 1fr 65%;
    background-color: #f8cb44;
    height: 500px;
    margin-left: 250px;
    margin-right: 250px;
}


.bolly-img {
    margin: 30px 0;
    width: 75%;    
    box-shadow: 5px 5px 10px #172C51;
    grid-column: 1/2;
    grid-row: 1/4;    
    justify-self: right;
    align-self: center;
}


.bolly h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    color: #172C51;
    margin: 50px 0;
    margin-right: 200px;
    text-align: left;
    padding-bottom: 0%;
}

.bolly p {
    grid-column: 2/3;
    grid-row: 2/4;
    color: #172C51;
    text-align: left;
    margin: 0% aut0;
    padding-top: 0%;
}

.yoga {
    display: grid;
    grid-template-columns: 65% 1fr;
    background-color: #e84e36;
    height: 500px;
    margin-left: 250px;
    margin-right: 250px;
}

.yoga img {
    margin: 30px 0;
    width: 75%;
    box-shadow: 5px 5px 10px #172C51;
    grid-column: 1/2;
    grid-row: 1/4;
    justify-self: left;
    align-self: center;
}

.yoga h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;    
    margin: 50px 0;
    margin-left: 200px;
    text-align: right;
    padding-bottom: 0%;
}

.yoga p {
    grid-column: 2/3;
    grid-row: 2/4;
    color: white;    
    text-align: right;
    margin: 0% aut0;
    padding-top: 0%;
}


.reverse img{
    grid-column: 2/3;
}

.reverse h2 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.reverse p {
    grid-column: 1/2;
    grid-row: 2/4;
}

.standout {
    background-color: white;
    color: #172C51;
    margin-left: 30px;
    margin-right: 30px;
}

.standout p {
    color: #172C51;
}


.button-box{
    text-align: center;
}

.book, .join{
    background-color: #f8cb44;
    color: #172C51;
    text-decoration: none;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}


.book:hover, .join:hover {
    background-color: #e84e36;
    color: white;
}  

footer{
    background-color: #f8cb44;
    color:#172C51;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    text-decoration: none;
    color:#172C51;
}  
footer p a:hover{
    color:#e84e36;
}  

footer p {
    font-size: 1.2em;
}  

footer .social img   {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}